soap/JAXBHellW/src/main/resources/helloWorldXMLSchema.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<schema version="1.0"
           xmlns="http://www.w3.org/2001/XMLSchema"
           targetNamespace = "http://mycompany.com"
           xmlns:mc="http://mycompany.com"
           elementFormDefault="qualified">
    <element name="Person" type="mc:PersonType"></element>
    <complexType name="PersonType">
        <sequence>
            <element name="name" type="string"></element>
        </sequence>
    </complexType>
</schema>
